<div class="container has-text-centered">
  <h1>Welcome <%= [current_user.first_name, current_user.last_name].join(' ') %>!</h1>
  <% unless current_user.hobbies.blank? %>
    <div class="box">
      <h2>Current Hobbies</h2>
      <ul>
        <% current_user.hobbies.each do |hobby| %>
          <li><%= hobby.inspect %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
